<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="home" class="header_area">
    <div id="header_navbar" class="header_navbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img id="logo" src="/assets/image/logo-2.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll active" href="#home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#services">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#portfolio">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#team">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <!-- <a class="page-scroll" href="#blog">Shop</a> -->
                                    <button class="main-btn">Shop Now</button>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="header_hero">
        <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(/assets/image/1.jpg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="hero_content text-center">
                            <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">We Often
                                Think To <br />Buy Plants Online</h2>
                            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Greenery On Wheels
                                come up with this solution, comes with all customers essentials <br />needs & features
                                to get beautiful plants right from home.</p>
                            <a href="/products" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                                data-wow-delay="0.8s">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="features" class="features_area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_title text-center pb-25">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Why Choose Us</h4>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
                        amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.2s">
                    <i class="lni lni-layers"></i>
                    <h4 class="features_title">Quality Plants</h4>
                    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore
                        magna .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.4s">
                    <i class="lni lni-layout"></i>
                    <h4 class="features_title">Quality Services</h4>
                    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore
                        magna .</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s"
                    data-wow-delay="0.6s">
                    <i class="lni lni-cart"></i>
                    <h4 class="features_title">One Day Delivery</h4>
                    <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore
                        magna .</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- about -->
<app-about></app-about>

<!-- app-services -->
<app-services></app-services>

<!-- gallery -->
<app-gallery></app-gallery>

<!-- app-team -->
<app-team></app-team>

<!-- app-quotes -->
<app-quotes></app-quotes>

<!-- app-contact -->
<app-contact></app-contact>






<footer id="footer" class="footer_area">
    <div class="container">
        <div class="footer_wrapper text-center d-lg-flex align-items-center justify-content-between">
            <p class="credit">Designed and Developed by <a href="https://github.com/bharatsinghtanwar"
                    rel="nofollow">Bharat Singh Tanwar & Aditya Rajawat</a></p>
            <div class="footer_social pt-15">
                <ul>
                    <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-instagram-original"></i></a></li>
                    <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>